textarea{
    
    display:block;
    width:60%;
    height: 20%;
   
    border:2px solid rgb(56, 56, 53);
    border-radius: 1rem;
    color: black;
    padding: 2rem;
    margin:30px auto;
    
}           

#btn-translate{
    display:block;
    margin:auto ;
    background-color: rgb(107, 107, 104);
    border-radius: 0.5rem;
    width:80px;
    padding: 1rem;
    color: white;
}

#output{
    display: inline-block;
    
    background-color: rgb(236, 231, 231);
    font-style:italic;
    width:70%;
    height:20px;
    padding: 2rem;
    border-radius: 1rem;
    overflow:scroll;
    margin:15px auto;
    color:black;
    font-size: 13px;

}


.write{
    float: left;
    width:100px;
    height: 100px;
}
.nav{
    font-size:40px;
    font-family: monospace;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 100px;
    border-radius: 0rem 0rem 1rem 0rem;
     
    
}
.nav p{
    width:558px;
    margin:0px auto;
    
}
body{
    margin-top: 0px;
    margin-bottom: 0px;
    
}


.indication{
    padding-left: 7rem;
    width:700px;
    padding-top: 2rem;
    margin:auto
}

.footer{
    display: block;
    background-color: rgb(49, 49, 49);
    border-radius: 2rem 2rem 0rem 0rem;
    margin-top: 7rem;
    height:130px;
}

.out-pos{
    display: block;
    width:800px;
    margin: auto;
}
.footer p{
    padding: 2rem 2rem 0rem 2rem;
    text-align: center;
    margin: auto;
    width: 850px;
    color:white ;
    font-family: monospace;
    font-size: x-large;
}